.label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}
.button {
  background: rgb(249, 174, 92, 255);
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
}
input,
label {
  margin: 0.4rem 0;
}
.mainWrap {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  float: left;
  padding: 60px 60px;
}
.mainWrap::after {
  display: block;
  content: '';
  clear: both;
}

.header {
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 3px;
  background: rgb(255, 252, 252);
  background: rgb(8, 24, 38, 255);
}

.header::after {
  display: block;
  content: '';
  clear: both;
}

.logo {
  float: left;
  padding: 20px 0;
}

.header-fill {
  float: right;
  text-align: center;
  font-weight: 600;
  height: 79px;
  color: white;
}

.header-fill:hover {
  background-color: #229fc5;
  border-radius: 3px;
}

.contact {
  display: inline-block;
  line-height: 4.7;
  margin-right: 30px;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.contents {
  width: 100%;
  margin: auto;
  padding: 40px 0;
  border-radius: 3px;
  background-color: #f1f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  margin: auto;
  width: 50%;
  padding: 30px;
  border-radius: 4px;
  background-color: white;
}
